<!DOCTYPE html>
<html>
<head>
	<title>Test-App</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body id="app">
	 <center><h3>Todo App</h3></center>
	 	<div class="container">
			 	<div class="row col-md-8 col-md-offset-2">
			 		<ul class="list-group" id="todos">
			 			<li class="list-group-item" v-repeat="todo: todos">
			 				{{ todo }}
	 							<span 
				 					v-on="click: removeTodo(todo)"
				 					class="pull-right" 
			 					>
			 						<a 
				 						class="glyphicon glyphicon-remove" 
				 						href="javascript:void(0);"
			 						>
			 						</a>
			 						
			 					</span>
			 					<span
			 						v-on="click: updateTodo(todo)"
				 					class="pull-right" 
			 					>
			 						<a 
				 						class="glyphicon glyphicon-pencil" 
				 						href="javascript:void(0);"
			 						>
			 						</a>
			 					</span>
			 			</li>
			 		</ul>
			 	</div>
			 	<div class="row col-md-4 col-md-offset-4">
			 		<form v-on="submit: addTodo">
					 	<div class="form-group">
					 		<input 
					 			class="form-control" 
					 			v-model="todo"
					 			placeholder="Add todo" 
				 			>
					 	</div>
				 		
					 	<div v-if="!update" class="form-group">
					 		<button class="btn btn-default">
					 			<span class="glyphicon glyphicon-plus">
					 				ADD
				 				</span>
					 		</button>
					 	</div>
					 	<div v-if="update" class="form-group">
					 		<button class="btn btn-success">
					 			<span class="glyphicon glyphicon-pencil">
					 				Update
				 				</span>
					 		</button>
					 	</div>		
				 	</form>
			 	</div>
	 	</div>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"></script>

	 <script>

	 	var socket = io();

	 	new Vue({
	 		el: '#app',
	 		data: {
	 			todo: '',
	 			todos: [],
	 			update: false
	 		},

	 		methods: {
	 			addTodo: function(e) {
	 				this.update = false;
	 				socket.emit('add-todo', this.todo);
	 				this.todo = '';
	 				e.preventDefault();
	 			},
	 			removeTodo: function(todo) {
					socket.emit('remove-todo', todo);
	 			},
	 			updateTodo: function(todo) {
	 				this.update = true;
	 				this.todo = todo;
	 				socket.emit('update-todo', todo);
	 			}
	 		},

	 		ready: function() {

	 			socket.on('add-todo', function(todo) {
	 				this.todos.push(todo);
	 			}.bind(this));

	 			socket.on('remove-todo', function(todo) {
	 				if(this.todos.splice(this.todos.indexOf(todo), 1)) {
						alert('this '+todo+' successfully removed!');
					}
	 			}.bind(this));

	 			socket.on('update-todo', function(todo) {
	 				this.todos.splice(this.todos.indexOf(todo), 1);
	 			}.bind(this));
	 		}
	 	})

	 </script>
</body>
</html>